<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="@NUGET_MICROSOFT_WINDOWS_CPPWINRT_VERSION@" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="@NUGET_MICROSOFT_WINDOWSAPPSDK_VERSION@" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="@NUGET_MICROSOFT_WINDOWS_SDK_BUILDTOOLS_VERSION@" targetFramework="native" />
</packages>
